spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  data:
    redis:
      host: bravest-keystore
      port: 6379
      database: 0

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true
jwt:
  secret: ${JWT_SECRET}
  access-token-validity-seconds: ${JWT_ACCESS_TOKEN_VALIDITY_SECONDS}
  refresh-token-validity-seconds: ${JWT_REFRESH_TOKEN_VALIDITY_SECONDS}